* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

button {
    width: 300px;
    height: 100px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

#b1 {
    margin-right: 200px;
    background-color: yellow;
}

#b2 {
    background-color: orange;
}

#b1:hover {
    background-color: transparent;
    border: 1px solid black;
    transition: 0.6s;
}

#b2:hover {
    background-color: transparent;
    border: 1px solid black;
    transition: 0.6s;
}

