* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    height: 750px;
    width: 1400px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#d1 {
    background-color: rgb(1, 191, 165);
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

#d2 {
    background-color: rgb(140, 110, 99);
}

#d3 {
    background-color: rgb(170, 0, 255);
}

#d4 {
    background-color: rgb(0, 184, 212);
}

#d5 {
    background-color: rgb(158, 158, 36);
    grid-column: 6 / 9;
}

#d6 {
    background-color: rgb(214, 0, 0);
}

#d7 {
    background-color: rgb(230, 238, 155);
}

#d8 {
    background-color: rgb(255, 113, 67);
    grid-row: 2 / 4;
    grid-column: 5 / 5;
}

#d9 {
    background-color: rgb(221, 237, 200);
    grid-row: 2 / 4;
    grid-column: 6 / 6;
}

#d10 {
    background-color: white;
    grid-column: 7 / 9;
    grid-row: 2 / 4;
}

#d11 {
    background-color: white;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

#d12 {
    background-color: rgb(0, 184, 212);
    grid-column: 1 / 4;
}

#d13 {
    background-color: rgb(118, 255, 2);
}

#d14 {
    background-color: rgb(98, 0, 233);
    grid-row: 4 / 6;
    grid-column: 5 / 5;
}

#d15 {
    background-color: rgb(255, 158, 129);
    grid-column: 6 / 8;
}

#d16 {
    background-color: rgb(130, 177, 255);
}

#d17 {
    background-color: rgb(207, 147, 217);
}

#d18 {
    background-color: rgb(207, 216, 221);
    grid-column: 2 / 4;
}

#d19 {
    background-color: rgb(0, 152, 166);
}

#d20 {
    background-color: rgb(221, 231, 118);
}

#d21 {
    background-color: rgb(229, 115, 115);
}

#d22 {
    background-color: rgb(42, 98, 255);
    grid-row: 5 / 7;
    grid-column: 8 / 9;
}

#d23 {
    background-color: rgb(216, 26, 96);
}

#d24 {
    background-color: rgb(228, 242, 253);
}

#d25 {
    background-color: rgb(103, 59, 183);
}

#d26 {
    background-color: rgb(229, 115, 115);
    grid-column: 4 / 6;
}

#d27 {
    background-color: rgb(255, 109, 0);
}

#d28 {
    background-color: rgb(28, 94, 32);
}