* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255,211,220);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

img {
    width: 80px;
    position: absolute;
    top: 25;
    left: 200;
}

nav {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

button {
    position: absolute;
    top: 33;
    right: 200;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #b96eff;
    width: 170px;
    height: 35px;
}

button:hover {
    border: 1px solid black;
    transition: 0.40s;
    background-color: transparent;
}

.main_divs {
    background-color: green;
    border: 2px solid red;
    width: 300px;
    height: 300px;
}

#sidebar {
    background-color: blueviolet;
    height: 811px;
    width: 250px;
    position: fixed;
    bottom: 0;
    right: 0;
}