/* ჩვენ grid-ის გამოყენებისას შეგვიძლია დავწეროთ fr ანუ fractional unit. ამ გაზომვის ერთეულს აქვს თავისი ფორმულა რომელიც არის ესეთი: height / rows და შესაბამისი პასუხის დახმარებით ჩვენ შეგვიძლია თუ რა დაშორება ექნება ამ დივებს სვეტებსა და მწკრივებში. */

/* 
    1)height = 1000
    rows = 2

    1fr = height / row = 1000 / 2 = 500px

    2)height = 1900
    rows = 10

    1fr = height / row = 1900 / 10 = 190px

    3)height = 300
    rows = 9

    1fr = height / row = 300 / 9 = 33.3px
*/