*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    height:100vh;
    padding-top: 70px;
    height: 100vh;
}

header {
    background-color: rgb(190, 0, 0);
    color: yellow;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid blue;
}
nav{
    display:flex;
    gap:90px;
    justify-content: center;
    align-items: center;
    
}

a{
    color:white;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color: yellow;
    transform:scale(110%)
}

main {
    height: 100vh;
    background-image: url(https://media.istockphoto.com/id/1412765628/vector/abstract-speed-business-start-up-launching-product-with-electric-car-and-city-concept-hitech.jpg?s=612x612&w=0&k=20&c=ZcK2rLxON2s1q-dFKnxlUq2mwhF9hG1LLGw7pVrIbeE=);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    width:110px;
    height:30px; 
    transition: 0.5s;
    border: 1px solid black;
}

button a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    display: inline-block;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button a:hover{
    transform:scale(110%);
    color:yellow;
}

button:hover{
    transform: scale(110%);
}

p {
    color: white;
    text-align: center;
}

#p1 {
    font-size: 50px;
    padding-top: 60px;
}

#p2 {
    width: 500px;
    padding-top: 30px;
}

#div1 {
    position: absolute;
    top: 60px;
    left: 250px;
}

#p3 {
    font-size: 50px;
    padding-top: 60px;
}

#p4 {
    width: 500px;
    padding-top: 30px;
}

#div2 {
    position: absolute;
    top: 60px;
    right: 250px;
}

#p5 {
    font-size: 50px;
    padding-top: 60px;
}

#p6 {
    width: 500px;
    padding-top: 30px;
}

#div3 {
    position: absolute;
    top: 450px;
    right: 680px;
}

