*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    height:100vh;
    padding-top: 70px;
    height: 100vh;
}

header {
    background-color: gold;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid orange;
}
nav{
    display:flex;
    gap:90px;
    justify-content: center;
    align-items: center;
    
}

a{
    color:white;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color: rgb(255, 255, 0);
    transform:scale(110%)
}

main {
    height: 100vh;
    background-image: url();
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 15px;
    width:110px;
    height:30px; 
    transition: 0.5s;
}

button a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    display: inline-block;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button a:hover{
    transform:scale(110%);
    color:yellow;
}

button:hover{
    transform: scale(110%);
}

p {
    color: white;
    text-align: center;
}