*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    height:100vh;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(97, 97, 97);
    padding-top: 70px;
    height: 100vh;
}

header {
    background-color: grey;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 100%);
    border-bottom: 2px solid rgb(0, 0, 0);
}
nav{
    display:flex;
    gap:90px;
    justify-content: center;
    align-items: center;
    
}

a{
    color:white;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color: rgb(196, 196, 196);
    transform:scale(110%)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://www.toyota.com/content/dam/tusa/usa/our-story/philosophy-practice-1-highlander.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    width:110px;
    height:30px; 
    transition: 0.5s;
}

button a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    display: inline-block;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button a:hover{
    transform:scale(110%);
    color:rgb(158, 158, 158);
}

button:hover{
    transform: scale(110%);
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
}

#p1 {
    font-size: 40px;
    padding-top: 15px;
    text-align: center;
    position: absolute;
    right: 820px;
    top: 190px;
}

#p2 {
    width: 438px;
    padding-bottom: 80px;
}

#button1 {
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border: 1px solid black;
    width: 180px;
    height: 35px;
    position: absolute;
    right: 871px;
    top: 270px;
}

#button1:hover {
    background:none;
}

#a1 {
    color: rgb(255, 255, 255);
}

#button2 {
    position: absolute;
    left: 300px;
    top: 700px;
    width: 180px;
    height: 35px;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border: 1px solid black;
    cursor: pointer;
    font-weight: 700;
}

#button2:hover {
    background:none;
}

#button3 {
    position: absolute;
    left: 855px;
    top: 700px;
    width: 180px;
    height: 35px;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

#button3:hover {
    background:none;
}

#button4 {
    position: absolute;
    right: 300px;
    top: 700px;
    width: 180px;
    height: 35px;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

#button4:hover {
    background:none;
}

#p3 {
    width: 300px;
    position: absolute;
    left: 260px;
    top: 750px;
}

#p4 {
    position: absolute;
    left: 800px;
    top: 750px;
    width: 300px;
}

#p5 {
    width: 300px;
    position: absolute;
    right: 220px;
    top: 750px;
}
