* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

div {
    width: 467px;
    height: 467px;
    background-color: green;
    position: absolute;
    bottom: 150px;
    right: 0px;
}