* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

div {
    width: 300px;
    height: 300px;
    background-color: red;
    border: 2px solid black;
    position: relative;
    top: 200px;
    left: 200px;
}