* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    background-color: green;
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
    left: 100px;
    border: 4px dotted black;
}

#div2 {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 230px;
    right: 140px;
    border: 4px solid black;
}

#div3 {
    background-color: wheat;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50px;
    left: 50px;
    border: 4px dashed black;
}