body {
    background-color: green;
    text-align: center;
    margin-top: 100px;
}

div {
    color: aqua;
    background-color: rgb(255, 0, 0);
    padding: 503px;
}

p {
    background-color: coral;
    color: aliceblue;
    border: 30px dotted blue;
}

h1 {
    font-size: 10rem;
    background-color: lime;
    border: 10px dashed darkcyan;
    margin-left: 10px;
}