* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 140px;
}

header{
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px inset gray;
    position: fixed;
    top: 0;
    z-index: 1;
}

header img{
    height: 100px;
}

header nav{
    display: flex;
    gap: 50px;
    font-size: 1.3rem;
}

header a{
    text-decoration: none;
    color: black;
}

header div{
    display: flex;
    align-items: center;
    gap: 30px;
}

header input{
    padding-left: 10px;
    width: 153px;
    height: 30px;
    outline: none;
    border: none;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 120px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}

header input:focus{
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
}

header i{
    cursor: pointer;
}

main {
    padding-top: 70px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    width: 900px;
}

.p {
    padding-top: 25px;
    color: rgb(129, 128, 150);
    text-align: justify;
    font-size: 17px;
}

#p1 {
    padding-top: 40px;
}

#p2 {
    padding-top: 0;
}

.a {
    text-decoration: none;
    color: red;
}

.h2 {
    padding-top: 50px;
    color: black;
    font-weight: 400;
    text-align: justify;
    font-size: 50px;
}

.u {
    color: rgb(129, 128, 135);
    font-weight: 600;
}

#h01 {
    font-size: 40px;
}

#h05 {
    font-size: 40px;
}

#h {
    font-size: 40px;
}

ul {
    text-align: start;
    padding-left: 20px;
    padding-top: 19px;
    line-height: 2.5;
    font-size: 19px;
}

#p3 {
    color: rgba(0, 0, 0, 0.658);
    font-weight: 550;
}

.a:hover {
    color: rgb(129, 128, 150);
}