* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 140px;
}

header{
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px inset gray;
    position: fixed;
    top: 0;
    z-index: 1;
}

header img{
    height: 100px;
}

header nav{
    display: flex;
    gap: 50px;
    font-size: 1.3rem;
}

header a{
    text-decoration: none;
    color: black;
}

header div{
    display: flex;
    align-items: center;
    gap: 30px;
}

header input{
    padding-left: 10px;
    width: 153px;
    height: 30px;
    outline: none;
    border: none;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 120px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}

header input:focus{
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
}

header i{
    cursor: pointer;
}

p {
    color: rgb(0, 0, 0);
}

#p1 {
    font-size: 65px;
    padding-top: 180px;
    color: white;
}

#main_div1 {
    height: 500px;
    text-align: center;
    background-image: url(images/Tbilisi.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grandfather_div {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 250px;
}

#p2 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#p3 {
    width: 500px;
    text-align: center;
    padding-bottom: 50px;
}

a:hover {
    color: red;
    transition: 0.3s;
}

#main_d2 {
    display: flex;
    justify-content: start;
    align-items: center;
}

#d2 {
    width: 700px;
    height: 500px;
}

form {
    display: grid;
    grid-template-rows: repeat(10 , 1fr);
    grid-template-columns: repeat(6 , 1fr);
    height: 500px;
    width: 700px;
    gap: 20px;
    
}

#child_d1 {
    grid-row: 1 / 1;
    grid-column: 1 / 4
}

#child_d2 {
    grid-row: 1 / 1;
    grid-column: 4 / 7;
}

#child_d3 {
    grid-row: 2 / 2;
    grid-column: 1 / 4;
}

#child_d4 {
    grid-row: 2 / 2;
    grid-column: 4 / 7;
}

#child_d5 {
    grid-row: 3 / 3;
    grid-column: 1 / 7;
}

#child_d6 {
    grid-row: 4 / 10;
    grid-column: 1 / 7;
}

#child_d7 {
    grid-row: 10 / 10;
    grid-column: 1 / 7;
}

#child_d1 input {
    width: 340px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
}

#child_d2 input {
    width: 340px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
}

#child_d3 input {
    width: 340px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
}

#child_d4 input {
    width: 340px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
}

#child_d5 input {
    width: 700px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
}

#child_d6 input {
    width: 700px;
    height: 260px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 15px;
    padding-bottom: 180px;
    text-align: start;
    
}

#child_d7 button {
    width: 700px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
    cursor: pointer;
    background: #ff0000;
    background: linear-gradient(308deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: white;
    font-size: 20px;
}

#child_d7 button:hover {
    background: transparent;
    background-color: transparent;
    transform: scale(1.1);
    transition: 1.2s;
}

::placeholder {
    color: rgb(136, 136, 136);
}

#child_d6 ::placeholder {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 20px;
}

#warning {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding-top: 4px;
}

.a {
    text-decoration: none;
    color: red;
}

.a:hover {
    color: rgb(128, 128, 128);
}