* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 140px;
}

header{
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px inset gray;
    position: fixed;
    top: 0;
    z-index: 1;
}

header img{
    height: 100px;
}

header nav{
    display: flex;
    gap: 50px;
    font-size: 1.3rem;
}

header a{
    text-decoration: none;
    color: black;
}

header div{
    display: flex;
    align-items: center;
    gap: 30px;
}

header input{
    padding-left: 10px;
    width: 153px;
    height: 30px;
    outline: none;
    border: none;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 120px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}

header input:focus{
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
}

header i{
    cursor: pointer;
}

main {
    padding-top: 70px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    width: 600px;
}

#divh1 {
    display: flex;
    justify-content: center;
}

.h2 {
    padding-top: 50px;
    color: rgb(129, 128, 135);
    font-weight: 600;
    text-align: justify;
    font-size: 17px;
}

#a1 {
    text-decoration: none;
    color: red;
}

#a1:hover {
    color: rgb(128, 128, 128);
}

.p {
    padding-top: 25px;
    color: rgb(129, 128, 150);
    text-align: justify;
    font-size: 17px;
}

#p1 {
    padding-top: 15px;
    padding-bottom: 20px;
}

#p2 {
    padding: 0;
}