* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 140px;
}

header{
    background-color: white;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px inset gray;
    position: fixed;
    top: 0;
    z-index: 1;
}

header img{
    height: 100px;
}

header nav{
    display: flex;
    gap: 50px;
    font-size: 1.3rem;
}

header a{
    text-decoration: none;
    color: black;
}

header div{
    display: flex;
    align-items: center;
    gap: 30px;
}

header input{
    padding-left: 10px;
    width: 153px;
    height: 30px;
    outline: none;
    border: none;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 120px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}

header input:focus{
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
}

header i{
    cursor: pointer;
}

#div1 {
    width: 100%;
    background-image: url(images/ვარძია.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1000px 60px -12px inset, rgba(0, 0, 0, 0.8) 0px 18px 36px -18px inset;
}

h1 {
    font-size: 48px;
    color: white;
    font-weight: 400;
    padding-top: 150px;
}

#p1 {
    color: rgb(185, 185, 185);
    padding-top: 30px;
    width: 1084px;
}

#p2 {
    color: rgb(185, 185, 185);
    font-size: 19px;
}

#small_p1 {
    color: white;
    font-size: 19px;
}

#child_div1 {
    display: flex;
    align-items: start;
    gap: 70px;
    margin-top: 20px;
}

.padding , #p1 , #child_div1{
    padding-left: 390px;
}

#child_div1 div {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

#p3 {
    color: rgb(185, 185, 185);
    font-size: 19px;
}

#small_p2 {
    color: white;
    font-size: 19px;
}

#child_div2 {
    display: flex;
    align-items: center;
    padding-left: 390px;
    margin-top: 40px;
    gap: 15px;
}

#child_div2 img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

#child_div2 p {
    color: white;
    font-size: 19px;
}

.grandfather_div {
    color: rgb(185, 185, 185);
    padding-left: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    padding-right: 240px;
    margin-bottom: 30px;
}

.father_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.father_div div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.father_div img {
    padding-left: 5px;
}

.a {
    color: rgb(185, 185, 185);
    text-decoration: none;
}

#a1 {
    color: white;
}

.a:hover {
    color: red;
}

#a1:hover {
    color: red;
}

button {
    border-radius: 12px;
    border: none;
    height: 40px;
    padding: 18px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

button:hover {
    transition: all .2s ease;
    background-color: gainsboro;
}

#div2 {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 70px;
}

.h2 {
    color: black;
    font-size: 32px;
    padding-top: 25px;
}

.a2 {
    color: red;
    text-decoration: none;
}

.a2:hover {
    color: rgb(185, 185, 185);
}

.p {
    color: rgb(129, 128, 135);
    padding-top: 25px;
}

#varzia2 {
    width: 740px;
    height: 416px;
    margin-top: 25px;
    border-radius: 12px;
}