/* css-ის reset ხდება *-ის გამოყენებით, ეგ ფიფქი ეხება ყველა ელემენტს და მის საშუალებით ჩვენ შეგვიძლია გავაკეთოთ css reset მაგალითად ხშირ შემთხვევაში უმრავლესობა ამასაკეთებს :*/

* {
    margin: 0;
    padding: 0;
}

/* ეხლა ცვენ გავანულეთ ყველა margin და padding რაც ყველა ელემენტს ჰქონდა ანუ დავარესეტეთ */