@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}

body {
    height: 100vh;
    padding-top: 89px;
}

header {
    height: 89px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 30px 50px 30px 50px;
}

#div0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#image_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#p1 {
    font-size: 30px;
}

#p2 {
    position: relative;
    right: 20px;
    bottom: 12px;
}

header img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

#father_div {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

a:hover {
    color: rgb(0, 102, 5);
    transition: 0.3s;
}

#hamburger {
    display: none;
}

main {
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding-bottom: 100px;
}

#child_div {
    display: flex;
    gap: 180px;
}

#div1 {
    width: 100%;
    height: 650px;
    background-image: url(Images/010101010.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p3 {
    color: white;
    font-size: 80px;
}

#p4 {
    color: white;
    font-size: 34px;
    max-width: 700px;
    text-align: center;
    padding-top: 130px;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    gap: 150px;
    border-bottom: 6px solid black;
    margin: 0px 100px;

}

#p5 {
    font-size: 70px;
}

#p6 {
    font-size: 23px;
    max-width: 650px;
    text-align: center;
}

#div3 {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#div3 img {
    max-width: 623px;
    height: 416px;
}

#div4 {
    line-height: 1.5;
}

.num {
    font-size: 48px;
    color: maroon;
}

.word {
    font-size: 18px;
}

#div5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div5 img {
    max-width: 536px;
}

#p7 {
    max-width: 500px;
    font-size: 38px;
    text-align: center;
}

footer {
    padding: 100px 0px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footerp {
    color: rgb(137, 150, 160);
    text-align: center;
}

#goa2 {
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
}

#footerdiv a {
    font-size: 70px;
}

#footerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(max-width: 1359px) {
    #father_div {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media(max-width: 1000px) {
    footer {
        flex-direction: column;
        gap: 25px;
    }

    #p3 {
        font-size: 50px;
    }

    #p4 {
        font-size: 20px;
    }
}

@media(max-width: 1419px) {
    #child_div {
        display: flex;
        padding: 0px 50px;
        gap: 120px;
    }

    #p4 {
        font-size: 25px;
    }

    #p3 {
        font-size: 60px;
    }

    #p5 {
        font-size: 50px;
    }

    #p6 {
        font-size: 22px;
        max-width: 750px;
    }
}

@media(max-width: 1283px) {
    #child_div {
        display: flex;
        gap: 50px;
    }
}

@media(max-width: 1157px) {
    #p7 {
        font-size: 26px;
    }

    #child_div {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    #p3 {
        position: none;
    }

    #p4 {
        padding: 0;
    }
}

@media(max-width: 1052px) {
    #div5 {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media(max-width:950px) {
    #div2 {
        margin: 0px 50px;
    }
}

@media(max-width: 922px) {
    #div3 img {
        max-width: 500px;
        height: 293px;
    }

    #div4 {
        line-height: 1.1;
    }
}

@media(max-width: 775px) {
    #div2 {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        gap: 30px;
    }
}

@media(max-width: 725px) {
    #div3 {
        gap: 30px;
    }
}

@media(max-width: 681px) {
    #div3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #div4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

@media(max-width: 559px) {
    #div5 img {
        max-width: 400px;
    }

    #div5 p {
        font-size: 20px;
        max-width: 400px;
    }
}

@media(max-width: 453px) {
    #div3 img {
        max-width: 350px;
    }

    #div5 img {
        max-width: 350px;
    }

    #footerdiv a {
        font-size: 50px;
    }
}

@media(max-width: 431px) {
    #p5 {
        font-size: 30px;
    }

    #p6 {
        font-size: 18px;
    }
}

@media(max-width: 407px) {
    #p4 {
        font-size: 21px;
    }

    #p3 {
        font-size: 45px;
    }
}
