@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}

body {
    height: 100vh;
    padding-top: 89px;
    background-color: gainsboro;
}

header {
    height: 89px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 30px 50px 30px 50px;
}

#div0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#image_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#p1 {
    font-size: 30px;
}

#p2 {
    position: relative;
    right: 20px;
    bottom: 12px;
}

header img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

#father_div {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

a:hover {
    color: rgb(0, 102, 5);
    transition: 0.3s;
}

#hamburger {
    display: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

#sidebar {
    background-image: url(Images/g&n.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95.9vh;
    width: 30%;
}

#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
}

form {
    height: 700px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 10fr);
    grid-template-rows: repeat(8 , 10fr);
    gap: 15px;
    padding-bottom: 15px;
}

input {
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 11px;
    font-size: 20px;
    max-width: 100%;
}

#fname {
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}

#lname {
    grid-column: 5 / 9;
    grid-row: 1 / 1;
}

#Email {
    grid-column: 1 / 9;
    grid-row: 2 / 2;
}

#Subject {
    grid-column: 1 / 9;
    grid-row: 3 / 3;
}

#Message {
    grid-column: 1 / 9;
    grid-row: 4 / 8;
    font-size: 30px;
    padding-bottom: 270px;
}

#Message::placeholder {
    position: absolute;
    top: 15px;
    left: 12px;
}

#form_button {
    grid-column: 1 / 9;
    grid-row: 8 / 8;
    border-radius: 7px;
    border: none;
    background: #f2f2f2;
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 0%, rgba(135, 135, 135, 1) 100%);
    cursor: pointer;
    font-size: 35px;
}

#form_button:hover {
    background: transparent;
    border: 1px solid black;
    transform: scale(103%);
    transition: 0.5s;
}

#p3 {
    font-size: 40px;
    margin-bottom: 30px;
}

footer {
    padding: 100px 25px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footerp {
    color: rgb(137, 150, 160);
    text-align: center;
}

#goa2 {
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
}

#footerdiv a {
    font-size: 70px;
}

#footerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media(max-width: 1329px) {
    #father_div {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media(max-width: 1000px) {
    footer {
        flex-direction: column;
        gap: 25px;
    }

    #p3 {
        font-size: 50px;
    }

    #p4 {
        font-size: 20px;
    }
}

@media(max-width: 1541px) {
    #sidebar {
        display: none;
    }

    main {
        justify-content: center;
        padding: 30px 25px;
    }

    form {
        padding: 0;
    }

    #p3 {
        padding: 0;
    }
}

@media(max-width: 425px) {
    #footerdiv a {
        font-size: 40px;
    }
}