@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}

body {
    height: 100vh;
    padding-top: 89px;
}

header {
    height: 89px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 30px 50px 30px 50px;
}

#div0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#image_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#p1 {
    font-size: 30px;
}

#p2 {
    position: relative;
    right: 20px;
    bottom: 12px;
}

header img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

#father_div {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

a:hover {
    color: rgb(0, 102, 5);
    transition: 0.3s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0px;
}

form {
    width: 400px;
    height: 310px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#p4div {
    display: flex;
    
}

#div1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.button1 {
    width: 400px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: whitesmoke;
}

.button1:hover {
    background: transparent;
    border: 1px solid black;
    transform: scale(105%);
    transition: 0.35s;
}

.img1 {
    height: 25px;
    width: 25px;
}

#pa {
    font-size: 16px;
    color: green;
    text-align: center;
}

#padiv {
    display: flex;
    justify-content: center;
}

#pa:hover {
    color: rgb(21, 255, 0);
}

#p3 {
    text-align: center;
    font-size: 25px;
}

#p4 {
    text-align: center;
    font-size: 33px;
}

input {
    width: 370px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 7px;
}

#form_button {
    background-color: rgb(216, 216, 216);
    width: 370px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#form_button:hover {
    background: transparent;
    border: 1px solid black;
    transform: scale(105%);
    transition: 0.35s;
}


footer {
    padding: 100px 0px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#p13 {
    color: rgb(137, 150, 160);
}

#goa2 {
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
}

#div11 a {
    font-size: 70px;
}

#div11 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hamburger {
    display: none;
}

#p13 {
    text-align: center;
}

@media(max-width: 1329px) {
    #father_div {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media(max-width: 1000px) {
    footer {
        flex-direction: column;
        gap: 25px;
    }
}

@media(max-width: 410px) {
    input {
        width: 300px;
    }   

    .button1 {
        width: 300px;
        font-size: 20px;
    }

    #form_button {
        width: 300px;
    }

    #div2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    form {
        width: 320px;
    }

    #div11 a {
        font-size: 45px;
    }

    #p5 {
        font-size: 14px;
    }

    #pa {
        font-size: 14px;
    }
}