@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}

body {
    height: 100vh;
    padding-top: 89px;
}

header {
    height: 89px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 30px 50px 30px 50px;
}

#div0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#image_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#p1 {
    font-size: 30px;
}

#p2 {
    position: relative;
    right: 20px;
    bottom: 12px;
}

header img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

#father_div {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

a:hover {
    color: rgb(0, 102, 5);
    transition: 0.3s;
}

main {
    padding-bottom: 200px;
}

#p3 {
    font-size: 50px;
    text-align: center;
    padding: 50px 0px;
}

#div1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(223, 223, 223);
    padding: 25px 35px;
    border-radius: 15px;
}

.hp {
    font-size: 40px;
}

.p4 {
    text-align: center;
    max-width: 500px;
    font-size: 23px;
}

#div2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(223, 223, 223);
    padding: 25px 35px;
    border-radius: 15px;
}

#div3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(223, 223, 223);
    padding: 25px 35px;
    border-radius: 15px;
}

#div4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(223, 223, 223);
    padding: 25px 35px;
    border-radius: 15px;
}

#father_div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

#father_div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 250px;
}

#father_div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 250px;
}

.img1 {
    max-width: 600px;
    height: 600px;
    border-radius: 25px;
}

#p5 {
    text-align: center;
    font-size: 50px;
}

footer {
    padding: 100px 0px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#p13 {
    color: rgb(137, 150, 160);
}

#goa2 {
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
}

#div11 a {
    font-size: 70px;
}

#div11 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hamburger {
    display: none;
}

#p13 {
    text-align: center;
}

@media(max-width: 1329px) {
    #father_div {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

@media(max-width: 1000px) {
    footer {
        flex-direction: column;
        gap: 25px;
    }
}

@media(max-width: 1618px) {
    #father_div3 {
        display: flex;
        gap: 120px;
    }

    #father_div4 {
        display: flex;
        gap: 120px;
    }
}

@media(max-width: 1500px) {
    #father_div2 {
        display: flex;
        gap: 120px;
    }

    #father_div3 {
        display: flex;
        gap: 50px;
    }

    #father_div4 {
        display: flex;
        gap: 50px;
    }
}

@media(max-width: 1410px) {
    #father_div2 {
        display: flex;
        gap: 50px;
    }

    #father_div3 {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    #father_div4 {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
}

@media(max-width: 695px) {
    .img1 {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 725px) {
    .hp {
        font-size: 30px;
    }
}

@media(max-width: 590px) {
    #father_div2 {
        padding: 0px 30px;
    }
}

@media(max-width: 412px) {
    #div11 a{
        font-size: 50px;
    }
}