* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 90px;
    padding-bottom: 100px;
}

header {
    width: 100%;
    height: 90px;
    background-color: skyblue;
    border-bottom: 5px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: #00e5ff;
    background: linear-gradient(308deg, rgba(0, 229, 255, 1) 44%, rgba(128, 236, 255, 1) 56%);
}

a:hover {
    color: rgb(0, 173, 173);
}

i {
    font-size: 35px;
}

a {
    margin-left: 60px;
    position: relative;
    top: -5px;
    font-size: 19px;
    text-decoration: none;
    color: rgb(0, 140, 255);
}

button {
    margin-left: 60px;
    position: relative;
    top: -5px;
    width: 90px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid black;
    background: #00bcd1;
    background: linear-gradient(308deg, rgba(0, 188, 209, 1) 41%, rgba(133, 243, 255, 1) 63%);
    cursor: pointer;
    color: rgb(0, 50, 143);
    font-size: 17px;
    transition: 0.5s;
}

button:hover {
    background: none;
}

footer {
    width: 100%;
    height: 100px;
    background-color: skyblue;
    position: fixed;
    bottom: 0;
    border-top: 5px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00e5ff;
    background: linear-gradient(308deg, rgba(0, 229, 255, 1) 44%, rgba(128, 236, 255, 1) 56%);
}

#main_div2 {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main_div2 div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer p {
    color: rgb(0, 68, 255);
    position: relative;
    left: 10px;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background-image: url(https://t4.ftcdn.net/jpg/02/32/92/55/360_F_232925587_st4gM8b3TJHtjjddCIUNyVyFJmZqMmn4.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: cyan;
}

#main_div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 70px;
    gap: 200px;
}

#div1 {
    width: 400px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: RGB(43, 177, 255);
    background: linear-gradient(308deg, rgba(43, 177, 255, 1) 44%, rgba(130, 218, 255, 1) 56%);
    border-radius: 15px;
}

#div2 {
    width: 400px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: RGB(75, 255, 246);
    background: linear-gradient(308deg, rgba(75, 255, 246, 1) 44%, rgba(0, 225, 255, 1) 56%);
    border-radius: 15px;
}

#div3 {
    width: 400px;
    height: 480px;
    background-color: rgb(54, 131, 131);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: RGB(54, 131, 131);
    background: linear-gradient(308deg, rgba(54, 131, 131, 1) 44%, rgba(11, 101, 115, 1) 56%);
}

.p1 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.p2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    width: 180px;
    font-size: 19px;
}

#a2 {
    margin-top: 50px;
    font-size: 38px;
    color: rgb(0, 89, 255);
    padding-bottom: 20px;
}

#button1 {
    position: absolute;
    top: 620px;
    right: 1518px;
    background: RGB(43, 177, 255);
    background: linear-gradient(308deg, rgba(43, 177, 255, 1) 44%, rgba(130, 218, 255, 1) 56%);
}

#button2 {
    position: absolute;
    top: 620px;
    right: 916px;
    background: RGB(75, 255, 246);
    background: linear-gradient(308deg, rgba(75, 255, 246, 1) 44%, rgba(0, 225, 255, 1) 56%);
}

#button3 {
    position: absolute;
    top: 620px;
    right: 306px;
    background: RGB(54, 131, 131);
    background: linear-gradient(308deg, rgba(54, 131, 131, 1) 44%, rgba(11, 101, 115, 1) 56%);
}