* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(9, 194, 9, 0.795);
    align-content: center;
}

form {
    background-color: white;
    width: 450px;
    height: 600px;
    margin: auto;
    border-radius: 1px;
    text-align: center;
    padding: 30px;
}

h1 {
    color: gray;
    text-align: start;
}

h4 {
    color: gray;
    text-align: left;
}

input {
    width: 400px;
    height: 40px;
    padding-left: 10px;
}

#Message {
    height: 130px;
}

button {
    width: 400px;
    height: 35px;
    background-color: rgba(12, 196, 12, 0.808);
    color: white;
    border: none;
}