* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
}

#div1 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: relative;
    top: 230px;
    left: 500px;
}

#div2 {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    position: static;
    bottom: 67px;
    right: 21px;
}

#div3 {
    width: 300px;
    height: 300px;
    background-color: purple;
    border: 2px solid black;
    position: absolute;
    bottom: 20px;
    right: 67px;
}

#div4 {
    width: 250px;
    height: 250px;
    background-color: green;
    border: 2px solid black;
    position: fixed;
    bottom: 0;
}

#div5 {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    position: sticky;
    left: 700px;
    top: 50px;
}

