body {
    background-color: green;
    text-align: center;
}

#rgb {
    color: rgb(124, 223, 23);
    font-size: 2rem;
    background-color: blue;
}

#HEX {
    color: #ff15ff;
    font-size: 123%;
    background-color: aqua;
}