body {
    background-color: green;
    text-align: center;
}

#div1 {
    color: rgb(123, 255, 100);
    height: 1rem;
    width: 20px;
    background-color: aqua;
}

#div2 {
    color: rgb(169, 1, 50);
    height: 50%;
    width: 5rem;
    background-color: red;
}

#div3 {
    color: rgb(1, 123, 234);
    height: 50px;
    width: 150%;
    background-color: blueviolet;
}