body {
    background-color: green;
    align-items: center;
    text-align: center;
    align-content: center;
}

h1 {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 5rem;
    color: burlywood;
    text-transform: capitalize;
}

p {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(0, 255, 255);
    text-shadow: 4px 4px 6px rgb(255, 0, 234);
    color: chocolate;
    font-size: xx-large;
    text-transform: uppercase;
}