* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_div {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#small_div {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#small_div_main {
    background-color: rgb(30, 196, 196);
    border: 1px solid black;
}