/* position: relative-ის დახმარებით ჩვენ შეგვიძლია გადავაადგილოთ სასურველი ელემენტი left, right, top და bottom-ის გამოყენებით. მაგალითად:  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: aqua;
    width: 400px;
    height: 400px;
}

#not_main {
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    left: 95px;
    top: 150px;
}

#not_main_2 {
    background-color: rgb(0, 26, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
    bottom: 67px;
}