* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_div {
    width: 500px;
    height: 610px;
    background-color: rgb(35, 35, 35);
    border: 1px solid rgb(52, 52, 52);
    border-radius: 18px;
}

#div1 {
    width: 440px;
    height: 450px;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 18px 18px 0px 0px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#div2 {
    width: 440px;
    height: 100px;
    border: 1px solid rgb(52, 52, 52);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 0px 0px 18px 18px;
    padding-left: 35px;
    padding-top: 35px;
}

img {
    margin-left: 40px;
    margin-top: 35px;
}

#p1 {
    background-image: linear-gradient(-2deg,rgb(154, 92, 184), rgb(222, 139, 93));
    color: transparent;
    background-clip: text;
    margin-left: 55px;
    padding-top: 10px;
}

#p2 {
    color: white;
    margin-left: 55px;
    font-size: 46px;
    padding-top: 15px;
}

#p3 {
    color: rgb(105, 108, 96);
    margin-left: 55px;
    padding-top: 30px;
    width: 300px;
}

a {
    color: white;
}

button {
    width: 130px;
    height: 43px;
    margin-left: 55px;
    margin-top: 50px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    color: white;
    background: RGB(154, 92, 184);
    background: linear-gradient(153deg, rgba(154, 92, 184, 1) 19%, rgba(222, 139, 93, 1) 55%);
    font-size: 16px;
}

button:hover {
    transition: 1s;
    background: none;
    border: 1px solid rgb(255, 153, 0)
}

i {
    margin-left: 2px;
    color: white;
}

#div2 i {
    font-size: 23px;
    margin-left: 10px;
}